body {
}


* {
    -webkit-tap-highlight-color: rgba(0, 0, 255, 0.5);  
}

canvas {
    position: relative; top: 0px; bottom: 0px; left: 0px; right: 0px;
    width:100%;
    height:100%;
}

.floor, .push{
	height: 4em;
	clear: both;
	width:100%;
}

.ceiling{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -4em;
}


.button {
	background-color:#A5A5A5;
	width:100%;
	font-size:18px;
	height: 2.75em;
	text-align:center;
	border:0px;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size:20px;
	padding-bottom:5px;
	padding-top:5px;
	margin-bottom:5px;
	text-decoration:none;
	
}.button:active {
	
	position:relative;
	top:1px;
}

div {

}
a {
color:white;
font-size:14px;
}

h1{
	color:white;
	font-size:40px;
}

h2{
	color:white;
	font-size:28px;
	text-align:center;
}

p{
	color:white;
}

.textbox{
	width: 100%;
	height: 2.25em;
	border: 0px solid #3366FF;
}
html{
		padding-left:5%;
		padding-right:5%;
        margin: auto; position: relative; top: 0px; bottom: 0px; left: 0px; right: 0px;
        width:90%;
		background-image:url(../img/grey_wash_wall.png);
        height:100%;
        
}

.rightalign{
	text-align: right;
	float: right;
}
.centeralign{
	text-align: center;
}

.bigassbutton{
	height:5em;
	font-size:24px;
}

#chooser{
	margin-top:25%;
}

.needspace{
	width:90%;
}

select{
	width: 100%;
	height: 2.25em;
	border: 0px solid #3366FF;
}

.moreSpace{
	margin-top: 15%;
}

.altcolor{
	background-color: #444444;
	color: white;
}